// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#a, #b, #c, #d, #e { 
  width:auto;
}

.table {
  margin-top: 35px;
}

#search_link {
  text-align: center;
  margin-top: 20px;
}